.banner{
    position: relative;
}
.banner__imagen{
    background-image: url('../img/banner.png');
    background: cover;
    background-position: center;   
    background-repeat: no-repeat;

}
.banner__titulo{
    color: #fdfdfd;
    font-family: Pacifico, cursive;
    font-size: 5rem;
    position: absolute;
    left: 50%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
}
@media screen and (min-width:0) {
    .banner__imagen{
        background-size: 100% calc(100vh - 72px);
        height: calc(100vh - 72px);
    }
    .banner__titulo{
        font-size: 3rem;
    }
}
@media screen and (min-width:768px) {
    .banner__imagen{
        background-size: 100% calc(100vh - 72px);
        height: calc(100vh - 72px);
    }
    .banner__titulo{
        font-size: 5rem;
    }
}